//Recomendaria indexar este archivo de una forma mas clara pues la carpeta public no sugiere que se encontraran los archivos css
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
